@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);

    /* #### Gradient

Background gradient: */

    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);

    /* ### Neutral

#### Text */

    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    /* #### Dividers */

    --Light-grayish-blue: hsl(240, 5%, 91%);

    --time: .5s;
}

* {
    margin: 0px;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 62.5%;
    /* background: url("design/desktop-design.jpg") center center no-repeat; */
    background: linear-gradient(var(--Soft-violet), var(--Soft-blue));
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    /* width: 60.2rem; */
    width: 57.5rem;
    position: relative;
    left: 20px;
    height: 31.8rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    margin: 2rem;
}

.imagem-box {
    position: relative;
}

.imagens {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.img-1 {
    position: absolute;
    width: 48rem;
    left: -23.5rem;
    top: -10rem;
}

.img-2 {
    position: absolute;
    width: 29rem;
    top: 14%;
    left: -17%;
}

.img-3 {
    position: absolute;
    left: -5.8rem;
    top: 12.6rem;
    z-index: 1;
}

.content {
    padding: 4rem 1rem;
    width: 75%;
    user-select: none;
    overflow: hidden;

}

.content h1 {
    font-size: 3.2em;
}

.content details[open] summary {
    font-weight: bold;
    border: none;
}


.content details[open] summary::before {
    transform: rotate(180deg);
    transition: transform var(--time);
}

.content details[open] p {
    opacity: 1;
    transition: opacity var(--time);
}

.content details p {
    font-size: 1.2em;
    opacity: 0;
    transition: opacity var(--time);
    will-change: opacity;
}

.content summary {
    list-style: none;
    border-bottom: 1px solid rgb(170, 170, 170);
    font-size: 1.43em;
    padding: 1.4rem 0;
    cursor: pointer;
}

.content summary:hover {
    color: var(--Soft-red);
    font-weight: bold;
}

.content summary::before {
    content: url("images/icon-arrow-down.svg");
    position: absolute;
    width: auto;
    left: 87%;
    transition: transform var(--time);
}

.questions {
    margin-top: 1rem;
}