@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
--Element-hover: hsl(245, 83%, 69%);
}

@media only screen and (max-width: 380px) {
    body {
        background-image: url('images/pattern-background-mobile.svg') !important;
    }
    .card-content {
        padding: 1.4rem !important;
    }
}

body {
    margin: 0;
    box-sizing: border-box;
    background: var(--Pale-blue) url('images/pattern-background-desktop.svg') repeat-x;
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {

    width: 450px;
    min-width: 260px;
    height: max-content;
    background-color: var(--Very-pale-blue);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 1rem;
}

.card img {
    width: 100%;
    display: block;
}

.card-content {
    padding: 2.8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-content h2{
    font-size: 1.75em;
}

.card-content h2,
.change-plan strong {
    margin: 0;
    color: var(--Dark-blue);
    font-weight: 900;
}

.card-content p {
    font-size: 16px;
    line-height: 1.6em;
    color: var(--Desaturated-blue);
}

.change-plan {
    height: 100px;
    text-align: left;
    background-color: hsla(225, 100%, 94%, 0.25);
    border-radius: 10px;
    padding: 0 1.8rem;
}

.change-plan img {
    width: 45px;
    margin-right: 2rem;
}

.change-plan a {
    font-size: .8em;
    font-weight: bold;
}

.change-plan a:hover {
    text-decoration: none;
    color: var(--Element-hover);
}

.card-content a.btn-proceed {
    background-color: var(--Bright-blue);
    padding: 15px 0;
    color: var(--Very-pale-blue);
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    font-size: .95em;
    box-shadow: 0 15px 10px var(--Pale-blue);
    margin: 2.2rem 0;
}

a.btn-proceed:hover {
    background-color: var(--Element-hover);
}

.cancel {
    color: var(--Desaturated-blue);
    font-weight: 700;
    text-decoration: none;
}

.cancel:hover {
    color: var(--Dark-blue);
}