@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend&display=swap');

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    /* (paragraphs) */
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    /* (background, headings, buttons) */
    --Very-light-gray: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 700px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr !important;
    }

    .button {
        margin-top: 5.2rem !important;
    }
}

body {
    background-color: var(--Very-light-gray);
    font: 1em/1.25em 'Lexend', sans-serif;
    color: var(--Transparent-white);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cards {
    width: 920px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 3.05rem;
}

.card h1 {
    color: var(--Very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    margin: 3rem 0 2.6rem;
    font-size: 2.4em;
}

.card p {
    font-size: .93em;
    line-height: 1.65em;
}

.orange {
    background-color: var(--Bright-orange);
}

.green {
    background-color: var(--Dark-cyan);
}

.dark-green {
    background-color: var(--Very-dark-cyan);
}

.text-orange {
    color: var(--Bright-orange);
}

.text-green {
    color: var(--Dark-cyan);
}

.text-dark-green {
    color: var(--Very-dark-cyan);
}

.card img {
    width: 64px;
}

.button {
    margin-top: 2rem;
    width: 145px;
    display: inline-block;
    text-decoration: none;
    border-radius: 45px;
    text-align: center;
    padding: 14px 0;
    background-color: var(--Very-light-gray);
}

.button:hover {
    outline: 1px solid var(--Very-light-gray);
    color: var(--Very-light-gray);
    background-color: transparent;
}