@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);
--Cyan-Overlay: hsl(178, 100%, 50%, 0.7);
--Main-BG: hsl(217, 54%, 11%);
--Card-BG: hsl(216, 50%, 16%);
--Line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background-color: var(--Main-BG);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    opacity: .7;
    width: 304px;
    min-width: 220px;
    height: max-content;
    background-color: var(--Card-BG);
    padding: 1.25rem;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.card p{
    font-size: 18px;
    font-weight: 300;
}

.container .card a {
    text-decoration: none;
    color: var(--White);
}

.container .card a:hover {
    text-decoration: none;
    color: var(--Cyan);
}

.container .card {
    text-decoration: none;
    color: var(--Soft-blue);
}

.nft-img {
    position: relative;
    display: block;
    border-radius: 10px;
    overflow: hidden;
}

.nft-img img {
    width: 100%;
    display: block;
}

.nft-img .overlay {
    width: 100%;
    height: 100%;
    background-color: var(--Cyan-Overlay);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: .3s ease;
}

.card .nft-img .overlay:hover {
    opacity: 1;
}

.card .nft-img .overlay img {
    width: fit-content;
}

.info,
.price,
.date,
.author {
    height: auto;
}

.info {
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--Line);
}

.info .price img,
.info .date img {
    margin: .4rem;
}

.price span{
    font-weight: bold;
    color: var(--Cyan);
}

.author {
    padding-top: .5rem;
    justify-content: flex-start;
}

.author img {
    width: 32px;
    margin-right: 1rem;
    border: 1px solid var(--White);
    border-radius: 100%;
}