@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light-gray);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    height: 500px;
    box-shadow: 1px 1px 5px 1px var(--Grayish-blue);
    background-color: var(--White);
    text-align: center;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
}

.card img {
    width: 100%;
    display: block;
    border-radius: 15px;
}

.info {
    padding: 0 1rem;
}

.info h3{
    margin-top: 1.6rem;
    font-size: 1.4em;
    color: var(--Dark-blue);
}

.info p {
    margin-top: 1.1rem;
    font-size: 15px;
    color: var(--Grayish-blue);
}